#body_Div{
    margin: 0;
    position: relative;
}

#body_Div::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Img_Folder/mainPage_BluPic.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .5;
    z-index: -1;
}

#head_Profile{
    font-size: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    padding: 2em 0 1em 0;
    background-color: rgb(70, 78, 103);
    box-shadow: 1px 6px 5px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    color: white;
}

#form_Entry{
    background-color: rgb(93, 103, 133);
    box-shadow: 1px 6px 5px rgba(0, 0, 0, 0.55);
    width: 100%;
}

#user_Already_Signed_Up{
    width: 100%;
}

#user_Already_Signed_Up_Form{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4em 0 0 0;
}


#form_Entry h1{
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
}

#form_Entry input{
    width: 20em;
    height: 2.5em;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

#log-in_Form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

#Sign-Up_Area {
    color: white;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: flex; /* Apply flexbox */
    flex-direction: column; /* Arrange children in a column */
    justify-content: center; /* Vertically center content */
    align-items: center; /* Horizontally center content */
}

#Sign-Up_Area_Parameter {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Ensure inner elements are centered horizontally */
}

#Sign-Up_Area_Seperator{
    width: 100%;
    margin: 1em 0 0 0;
    border-bottom: 2px solid black;
}

#Sign-Up_Btn{
    display: flex;
    justify-content: center;
    width: 30%;
}

#Sign-Up_Btn a{
    padding: 0.4em;
    background-color: rgb(60, 66, 84);
    text-align: center;
    text-decoration: none;
    border: 3px black solid;
    cursor: pointer;
    width: 100%;
    color: white;
    transition: .25s ease;
    margin: 0 0 0.8em 0;
}

#Sign-Up_Btn a:hover{
    background-color: rgb(74, 81, 103);
}


@media screen and (max-width: 850px){

    #form_Entry{
        display: flex;
        flex-direction: column;

    }

}
