h1{
    font-size: 3.5em;
    text-align: center;
    color: white;
    margin: 0 0 1.5em 0;
}

#form_container{
    margin-top: 6em;
}

#formDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}

#signup_Form{
    flex-direction: column;
    width: 50%;
    position: relative;
    left: 0;
    top: 15%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(70, 78, 103);
    padding: 2em;
    border: solid 5px black;
    color: rgb(194, 198, 202);
}

form div{
    gap: .5em;
}

.name_Input{
    font-size: 2em;
}

.additionalInfo{
    align-items: center;
    margin-top: 1em;
    
}

#signup_Form .additional_Text{
    font-size: 1.5em;
    align-self: center;
}

#signup_Form .additional_Input{
    height: 3em;
    font-size: 13px;
    width: 100%;
    display: flex;
    margin: 0.8em 0 0 0;
}

#sign_UP_USER{
    margin-top: 4em;
    width: 100%;
    display: flex;
    justify-content: center;
}

#sign_UP_USER button{
    font-size: 20px;
    width: 40%;
    background-color: rgb(56, 68, 87);
    padding: 0.8em;
    cursor: pointer;
    border: solid 1px black;
}

#sign_UP_USER button:hover{
    background-color: rgb(71, 87, 112);
    color: aliceblue;
    border: solid 1px white;
}

@media screen and (max-width: 830px){

    label{
        font-size: 20px;
    }

    input{
        width: 100%;
        height: 20px;

    }
}